[Desktop Entry]
Type=Application
Name=Hashit
Comment=Intuitive and simple Hash Tool checker
GenericName=Hash Checker
Exec=hashit
Icon=hashit
Keywords=hash;check;sum;md5;sha256;
Terminal=false
Categories=GNOME;GTK;Utility;
Actions=AboutDialog;
X-GNOME-Gettext-Domain=hashit

[Desktop Action AboutDialog]
Name=About Hashit
Exec=hashit --about
